<div
  class="page-container"
  *ngIf="feira"
  [style.background-image]="'url(' + feira.image + ')'"
>
  <div class="fadeOut"></div>

  <div class="content">
    <div class="header">
      <img src="assets/arrow-left.png" alt="arrow" class="arrow" routerLink="/home" />
    </div>

    <div class="place-info">
      <h1 class="title">{{ feira.nome }}</h1>
      <div class="location">
        <img src="assets/location.png" alt="Pin" class="location-icon" />
        <span class="location-text">{{ feira.local }}</span>
      </div>
      <div class="divider"></div>
      <p class="description">{{ feira.descricao }}</p>
      <div class="rating">
        <img src="assets/star.png" alt="star" />
        <span class="rating-text">{{ feira.nota }}</span>
      </div>
      <div class="footer">
        <span class="status">{{ feira.status }}</span>
        <button class="map-btn" [routerLink]="['/market-stores', feira.id]">Ver Lojas</button>
      </div>
    </div>
  </div>
</div>
