<div class="page-container">
  <div class="fadeOut"></div>

  <div class="content">
    <div class="header">
      <img src="assets/arrow-left.png" alt="arrow" class="arrow" routerLink="/home">
    </div>

    <div class="place-info">
      <h1 class="title">Ver-o-Peso</h1>
      <div class="location">
        <img src="assets/location.png" alt="Pin" class="location-icon">
        <span class="location-text">Belém, Pará</span>
      </div>
      <div class="divider"></div>
      <p class="description">
        O Ver-o-Peso é um dos pontos turísticos mais icônicos de Belém do Pará e o maior mercado a céu aberto da América Latina. Localizado às margens da Baía do Guajará, o local reúne uma grande diversidade de produtos típicos da região amazônica, como frutas exóticas, ervas medicinais, peixes frescos, especiarias e artesanato local.
      </p>
      <div class="rating">
        <img src="assets/star.png" alt="star">
        <span class="rating-text">4.8</span>
      </div>
      <div class="footer">
        <span class="status">Aberto</span>
        <button class="map-btn">Ver Lojas</button>
      </div>
    </div>
  </div>
</div>
