<div class="page-container">
    <div class="logo-container">
        <img src="assets/logo.png" alt="Logo">
    </div>

    <div class="input-wrapper">
        <div class="title-wrapper">
            <h2 class="title">Faça seu login</h2>    
        </div>

        <app-main-input placeholder="Digite aqui" label="Email" type="text"/>
        <app-main-input placeholder="Digite aqui" label="Senha" type="password"/>
    </div>

    <div class="button-wrapper">
        <app-main-button button_text="Entrar"/>

        <div class="diviter-container">
            <div class="divider"></div>
            <span class="divider-text">Ou</span>
            <div class="divider"></div>
        </div>
        <div class="button-container">
            <div class="button">
                <span class="button-text" routerLink="/cadastro">Criar uma conta</span>
            </div>
        </div>
    </div>
</div>