.page-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-evenly;
    padding: 1rem;
}

.logo-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title{
    color: var(--Black, #1B1B1D);
    font-family: Urbanist;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 40.745px; /* 145.518% */
    letter-spacing: 0.28px;
    justify-self: center;
}

.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 10px 25px;
    border-radius: 10px;
    background: var(--Primary-Black-0, #FFF);
    border: 1px solid var(--Primary-Black-200, #E8E8E8);
    color: #fff;
    width:200px;
    cursor: pointer;
}

.button:hover {
    filter: brightness(0.9); 
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.button-text{
    color: var(--Primary-Black-400, #767676);
    text-align: center;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
}

.diviter-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.divider{
    width: 50px;
    height: 1px;
    background: #AEAEAE;
}

.divider-text{
    color: #AEAEAE;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}