<div class="login-page">
    <img src="assets/logo.png" alt="logo" width="200px">
    <Span class="title">Faça seu login</Span>
    <div class="login-container">
        <app-main-input label="Email" placeholder="Digite aqui" type="text" iconSrc="assets/user_icon.png"/>
        <app-main-input label="Senha" placeholder="Digite aqui" type="password" iconSrc="assets/password_icon.png"/>
        <a class="change_password">Esqueceu a senha?</a>

        <div class="login-button">
            <app-main-button class="button-text" button_text="Entrar" onclick="handlelogin()"/>
        </div>

        <div class="divider-container">
            <div class="divider"></div>
            <span class="divider-text">Ou</span>
            <div class="divider"></div>
        </div>

        <span class="register-text">Fazer cadastro</span>
    </div>
</div>