<div class="page-container">
    <div class="header" routerLink="/login">
        <img src="assets/arrow-left.png" alt="Arrow">
    </div>

    <h3 class="title">Crie a sua conta</h3>
    <div class="inputs-container">
        <app-main-input type="text" placeholder="Digite aqui" label="Nome Completo"/>
        <app-main-input type="text" placeholder="Digite aqui" label="Email"/>
        <app-main-input type="number" placeholder="Digite aqui" label="Telefone"/>
        <app-dropdown-input/>
    </div>
    <app-main-button button_text="Criar conta"/>
</div>