.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    padding: 10px 25px;
    border-radius: 10px;
    background: var(--Red, #D61A21);
    box-shadow: 4px 8px 24px 0px rgba(214, 26, 33, 0.20);
    color: #fff;
    width:200px;
    cursor: pointer;
}

.button-container:hover {
    filter: brightness(0.9); 
}

.button-text{
    color: var(--White, #FFF);
    text-align: center;
    font-family: Urbanist;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.14px;
}