<div class="page-container" *ngIf="loja">
  <div class="header">
    <img src="assets/arrow-left.png" alt="Seta" class="arrow" routerLink="/market-stores/{{loja.idFeira}}" />
    <span class="store-name">{{ loja.nome }}</span>
    <span></span>
  </div>

  <div class="shop-image" [ngStyle]="{'background-image': 'url(' + loja.imagem + ')'}"></div>

  <div class="youFind">
    <span class="youFind">O que você encontra?</span>
  </div>

  <div class="category-container">
    <div class="category-card" *ngFor="let card of cards">
      <img [src]="card.icon" alt="icon" class="category-icon">
      <span class="category-text">{{ card.type }}</span>
    </div>
  </div>

  <div class="description-container">
    <span class="description-title">Descrição</span>
    <span class="description-text">{{ loja.descricao }}</span>
  </div>

  <div class="status-container">
    <img src="assets/clock.png" alt="clock" class="status-icon">
    <div class="text-wrapper">
      <span class="status-text">{{ loja.status }}</span>
      <span class="status-text-time">{{ loja.horario }}</span>
    </div>
  </div>

  <div class="youFind">
    <span class="youFind">Local</span>
  </div>
  <div class="location-info">
    <app-main-button button_text="Ver no mapa" routerLink="/map"/>
  </div>
</div>
