<div class="home-container">
    <div class="user-info">
        <div class="user-wrapper">
            <img src="assets/user.png" alt="user-icon" class="user-icon">
            <span class="user-info-text">Olá, André!</span>
        </div>
        <img src="assets/logo.png" alt="Logo" class="logo">
    </div>

    <h2 class="title">
        O que você quer descobrir hoje?
    </h2>

    <app-search-bar/>

    <div class="category">
        <span class="sub-title">Escolha a categoria</span>
    </div>

    <div class="card-scroll-container">
        <div class="card" *ngFor="let item of items">
            <div class="img-wrapper">
                <img src="assets/market-icon.png" alt="icon" class="category-icon">
            </div>
            <span class="category-text">{{item}}</span>
        </div>
    </div>

    <div class="category">
        <span class="sub-title">Feiras</span>
    </div>

    <div class="card-scroll-container">
        <div class="favorite-card" *ngFor="let card of cards" (click)="verDescricao(card)">
            <img [src]="card.imagem" alt="image" class="card-image">
            <div class="card-content">
                <h3 class="favorite-card-title">{{card.nome}}</h3>
                <div class="location-text-wrapper">
                    <img src="assets/location.png" alt="location">
                    <span class="location">{{card.local}}</span>
                    <span class="location"> - {{card.tipo}}</span>
                </div>
                <div class="rating-container">
                    <span class="rating">{{card.nota}} </span>
                    <img src="assets/star.png" alt="star" class="star-rating-icon">
                </div>
                
            </div>
        </div>
    </div>

    <div class="category">
        <span class="sub-title">Para você</span>
    </div>

    <app-for-you/>
</div>
<app-navbar/>