<div class="teste">
    <div class="user-info">
        <div class="icon-wrapper">
            <img src="assets/user_icon.png" alt="" class="icon">
        </div>
        <span class="user-text">Olá Matheus!</span>
        
    </div>

    <div class="texto">
        <span class="texto">O que você quer descobrir hoje?</span>
    </div>

    <app-search-bar/>

    <div class="conteudo">
        <div class="categoria">
            <span class="categoria-texto">Pra você</span>
            <span class="categoria-texto-2">Ver tudo</span>
        </div>
    </div>

    <div class="for-you">
        <div class="shop">
            <img src="assets/veroPeso.png" alt="">

            <div class="description">
                <span class="description-title">Ver-o-Peso</span>
                <span class="isOpen">Aberto</span>
                <span class="description-text">
                    O maior mercado a céu aberto da América Latina, cheio de cultura, sabores e tradições paraenses.
                </span>
            </div>
        </div>
    </div>
    
</div>
