.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

span {
  align-self: flex-start;
  margin-left: 1.2rem;
  color: var(--Primary-Black-300, #1B1B1D);
  font-family: Urbanist;
  font-size: 12px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.12px;
}

.custom-select-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    padding: 15px 20px;
    border-radius: 15px;
    border: 1px solid var(--Primary-Black-200, #E8E8E8);
    background: var(--Primary-Black-0, #FFF);
    position: relative;
    cursor: pointer;
    user-select: none;

    
}
.custom-select-box:hover{
    background: #f0f0f0;
}

.selected-option {
  font-family: Urbanist;
  font-size: 14px;
  color: var(--Primary-Black-300, #1B1B1D);
}

.options-dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  border-radius: 10px;
  border: 1px solid var(--Primary-Black-200, #E8E8E8);
  background: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  z-index: 10;
}

.option {
  padding: 10px 15px;
  font-family: Urbanist;
  font-size: 14px;
  color: var(--Primary-Black-300, #1B1B1D);
  transition: background 0.2s ease;
}

.option:hover {
  background: #f0f0f0;
}

.icon{
    height: 10px;
    width: 10px;
}
